<div class="container">
    <div class="profile-container">
        <h2 style="margin-bottom: 30px;">User Profile</h2>
        <div class="form-group">
            <label class="profile-label">First Name:</label>
            <p class="form-control-static">{{ formData.firstname }}</p>
        </div>
        <div class="form-group">
            <label class="profile-label">Last Name:</label>
            <p class="form-control-static">{{ formData.lastname }}</p>
        </div>
        <div class="form-group">
            <label class="profile-label">Gender:</label>
            <p class="form-control-static">{{ formData.gender }}</p>
        </div>
        <div class="form-group">
            <label class="profile-label">Email:</label>
            <p class="form-control-static">{{ formData.email }}</p>
        </div>
        <div class="form-group">
            <label class="profile-label">Mobile Number:</label>
            <p class="form-control-static">{{ formData.mobile }}</p>
        </div>
    </div>
</div>